DISCORD_TOKEN=replace_with_your_bot_token
GUILD_ID=replace_with_server_id
OWNER_ID=replace_with_owner_user_id
OWNER_ROLE_ID=replace_with_owner_role_id
STAFF_ROLE_ID=replace_with_staff_role_id
TRUSTED_MOD_BOT_ID=0
LOG_CHANNEL_ID=replace_with_log_channel_id
QUARANTINE_ROLE_ID=replace_with_quarantine_role_id
